---
---

$background-color: #f5f5f5;
$text-color: #222;
$secondary-text-color: #999;
$link-color: #4af;
$link-hover-color: #6aa;
$content-background-color: #fff;
$divider-text-color: #fff;
$divider-background-color: #5b90ce;

$h1-font-size: 2.4rem;
$default-font-size: 1.6rem;
$small-font-size: 1.4rem;

$small-spacing: 1rem;
$large-spacing: 2.4rem;

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $background-color;
  color: $text-color;
  font-size: $default-font-size;
  font-family: 'Helvetica Neue';
  margin: 5rem;
}

h1 {
  font-size: $h1-font-size;
  margin: 0 0 $small-spacing;
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

p {
  line-height: 1.2em;
  margin: 0 0 $small-spacing;
}

ul {
  margin: 0;

  & > li {
    list-style-type: none;
    margin: 0 0 $small-spacing;

    &:last-child { margin: 0; }
  }
}

.content {
  background: $content-background-color;
  box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 80rem;
  min-width: 40rem;
  padding: $large-spacing 0;
  width: 100%;

  & > * { padding: 0 $large-spacing; }

  h2 {
    background: $divider-background-color;
    color: $divider-text-color;
    font-size: $default-font-size;
    font-weight: normal;
    margin: $large-spacing 0 $small-spacing;
    padding-bottom: .5em;
    padding-top: .5em;
    width: 100%;
  }

  .time {
    color: $secondary-text-color;
    font-size: $small-font-size;

    &:before { content: '('; }
    &:after { content: ')'; }
  }

  p.description {
    font-size: $small-font-size;
    margin-top: $small-spacing;
  }
}
